.logo-word{
	margin-top: 20px;
	margin-left: 50px;
	font-weight: bold;
}
.search-bar{
	margin-top: 25px;
}
.videos, .channels{
	border-left: 1px solid black;
}
.log-in{
	padding-top: 25px;
}
.subs{
	padding-top: 25px;
}
.video-title{
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 15px;
}
.comments{
	font-weight: bold;
	font-size: 1em;
	margin-top: 15px;
	padding-left: 15px;
}
.user_one{
	margin-top: 15px;
}
.user_one_id, .user_two_id{
	font-weight: bold;
	margin-left: 15px;
}
.user_one_comment, .user_two_comment{
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
	margin-left: 15px;

}
.profile-word{
	margin-left: 30px;
	margin-bottom: 7px;

}
.profile-pic{
	height: 115px;
}
.profile-word > span{
	font-weight: bold;
	font-size: 25px;
	color: blue;

}
.profile-page{
	margin-bottom: 5px;
}
.subscribe{
	margin-top: 30px;
	margin-left: 5px;
}