.logo-word{
	margin-top: 20px;
	margin-left: 50px;
	font-weight: bold;
}
.search-bar{
	margin-top: 25px;
}
.videos, .channels{
	border-left: 1px solid black;
}
.log-in{
	padding-top: 25px;
}
.subs{
	padding-top: 25px;
}
.video-title{
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 15px;
}
.comments{
	font-weight: bold;
	font-size: 1em;
	margin-top: 15px;
}